<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.16.0.171715</string>
	</array>
	<key>CreationDate</key>
	<string>2012-11-06 12:14:41 +0000</string>
	<key>Creator</key>
	<string>Ernesto Costa</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.pdf</string>
	</array>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2012-11-15 17:59:29 +0000</string>
	<key>Modifier</key>
	<string>Ernesto Costa</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595, 842}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>Sheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {559, 783}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>BaseZoom</key>
			<integer>0</integer>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1.000 cm = 1.000 cm</string>
			<key>ExportShapes</key>
			<array>
				<dict>
					<key>InspectorGroup</key>
					<real>255</real>
					<key>ShapeImageRect</key>
					<string>{{2, 2}, {22, 22}}</string>
					<key>ShapeName</key>
					<string>CB57FC70-5D98-4E01-B296-C89ACFD207B2-193-00000B1B7DDE215A</string>
					<key>ShouldExport</key>
					<string>YES</string>
					<key>StrokePath</key>
					<dict>
						<key>elements</key>
						<array>
							<dict>
								<key>element</key>
								<string>MOVETO</string>
								<key>point</key>
								<string>{-0.49827149595537845, 0.27456640783943342}</string>
							</dict>
							<dict>
								<key>control1</key>
								<string>{-0.51003063352169509, 0.33344241111714634}</string>
								<key>control2</key>
								<string>{-0.46179107594443103, 0.39400394061581423}</string>
								<key>element</key>
								<string>CURVETO</string>
								<key>point</key>
								<string>{-0.35355282322358761, 0.43905086183285835}</string>
							</dict>
							<dict>
								<key>control1</key>
								<string>{-0.15829092085453933, 0.5203163793890484}</string>
								<key>control2</key>
								<string>{0.15829092085453933, 0.5203163793890484}</string>
								<key>element</key>
								<string>CURVETO</string>
								<key>point</key>
								<string>{0.3535528232235885, 0.43905086183285835}</string>
							</dict>
							<dict>
								<key>control1</key>
								<string>{0.46179109427636522, 0.39400393298637493}</string>
								<key>control2</key>
								<string>{0.51003064986202329, 0.33344239060295955}</string>
								<key>element</key>
								<string>CURVETO</string>
								<key>point</key>
								<string>{0.4982714899805627, 0.27456637792456551}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{0.49999975000012498, 0.27456639339771716}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{0.49999975000012498, -0.49999999999999911}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{-0.49999975000012453, -0.49999999999999911}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{-0.49999975000012453, 0.27456639339771716}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>CLOSE</string>
							</dict>
							<dict>
								<key>element</key>
								<string>MOVETO</string>
								<key>point</key>
								<string>{-0.49827149595537845, 0.27456640783943342}</string>
							</dict>
						</array>
					</dict>
					<key>TextBounds</key>
					<string>{{0, 0}, {1, 1}}</string>
				</dict>
			</array>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{290, 430}, {80, 14}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>YES</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>ID</key>
							<integer>596</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<integer>0</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Disco externo}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
							<key>Wrap</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>598</integer>
									<key>Points</key>
									<array>
										<string>{275, 320}</string>
										<string>{414, 449}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>HeadArrow</key>
											<string>FilledArrow</string>
											<key>Legacy</key>
											<true/>
											<key>TailArrow</key>
											<string>FilledBall</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{175, 276}, {151, 81}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>599</integer>
									<key>Shape</key>
									<string>Cloud</string>
									<key>Style</key>
									<dict/>
									<key>Text</key>
									<dict>
										<key>Text</key>
										<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 read()}</string>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
								</dict>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>Head</key>
									<dict>
										<key>ID</key>
										<integer>599</integer>
									</dict>
									<key>ID</key>
									<integer>600</integer>
									<key>Points</key>
									<array>
										<string>{385, 212}</string>
										<string>{293.42585389693045, 283.14868600573067}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>HeadArrow</key>
											<string>FilledArrow</string>
											<key>Legacy</key>
											<true/>
											<key>TailArrow</key>
											<string>FilledBall</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Class</key>
									<string>Group</string>
									<key>Graphics</key>
									<array>
										<dict>
											<key>Bounds</key>
											<string>{{424, 172}, {26, 14}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>FitText</key>
											<string>YES</string>
											<key>Flow</key>
											<string>Resize</string>
											<key>ID</key>
											<integer>602</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
											</dict>
											<key>Text</key>
											<dict>
												<key>Pad</key>
												<integer>0</integer>
												<key>Text</key>
												<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Tipo}</string>
												<key>VerticalPad</key>
												<integer>0</integer>
											</dict>
											<key>Wrap</key>
											<string>NO</string>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{369, 172}, {30, 14}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>FitText</key>
											<string>YES</string>
											<key>Flow</key>
											<string>Resize</string>
											<key>ID</key>
											<integer>603</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
											</dict>
											<key>Text</key>
											<dict>
												<key>Pad</key>
												<integer>0</integer>
												<key>Text</key>
												<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Valor}</string>
												<key>VerticalPad</key>
												<integer>0</integer>
											</dict>
											<key>Wrap</key>
											<string>NO</string>
										</dict>
										<dict>
											<key>Class</key>
											<string>LineGraphic</string>
											<key>Head</key>
											<dict>
												<key>ID</key>
												<integer>607</integer>
											</dict>
											<key>ID</key>
											<integer>604</integer>
											<key>Points</key>
											<array>
												<string>{185.00000000000003, 212}</string>
												<string>{356.50000629860682, 212.86180907687742}</string>
											</array>
											<key>Style</key>
											<dict>
												<key>stroke</key>
												<dict>
													<key>HeadArrow</key>
													<string>FilledArrow</string>
													<key>Legacy</key>
													<true/>
													<key>TailArrow</key>
													<string>FilledBall</string>
												</dict>
											</dict>
										</dict>
										<dict>
											<key>Class</key>
											<string>Group</string>
											<key>Graphics</key>
											<array>
												<dict>
													<key>Bounds</key>
													<string>{{411, 195}, {54, 36}}</string>
													<key>Class</key>
													<string>ShapedGraphic</string>
													<key>ID</key>
													<integer>606</integer>
													<key>Shape</key>
													<string>Rectangle</string>
													<key>Text</key>
													<dict>
														<key>Text</key>
														<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 file}</string>
													</dict>
												</dict>
												<dict>
													<key>Bounds</key>
													<string>{{357, 195}, {54, 36}}</string>
													<key>Class</key>
													<string>ShapedGraphic</string>
													<key>ID</key>
													<integer>607</integer>
													<key>Shape</key>
													<string>Rectangle</string>
												</dict>
											</array>
											<key>ID</key>
											<integer>605</integer>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{116, 175}, {34, 14}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>FitText</key>
											<string>YES</string>
											<key>Flow</key>
											<string>Resize</string>
											<key>ID</key>
											<integer>608</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
											</dict>
											<key>Text</key>
											<dict>
												<key>Pad</key>
												<integer>0</integer>
												<key>Text</key>
												<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Nome}</string>
												<key>VerticalPad</key>
												<integer>0</integer>
											</dict>
											<key>Wrap</key>
											<string>NO</string>
										</dict>
										<dict>
											<key>Class</key>
											<string>Group</string>
											<key>Graphics</key>
											<array>
												<dict>
													<key>Bounds</key>
													<string>{{160, 197}, {54, 36}}</string>
													<key>Class</key>
													<string>ShapedGraphic</string>
													<key>ID</key>
													<integer>610</integer>
													<key>Shape</key>
													<string>Rectangle</string>
												</dict>
												<dict>
													<key>Bounds</key>
													<string>{{106, 197}, {54, 36}}</string>
													<key>Class</key>
													<string>ShapedGraphic</string>
													<key>ID</key>
													<integer>611</integer>
													<key>Shape</key>
													<string>Rectangle</string>
													<key>Text</key>
													<dict>
														<key>Text</key>
														<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 fin}</string>
													</dict>
												</dict>
											</array>
											<key>ID</key>
											<integer>609</integer>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{261.5, 195}, {61, 14}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>FitText</key>
											<string>YES</string>
											<key>Flow</key>
											<string>Resize</string>
											<key>ID</key>
											<integer>612</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Style</key>
											<dict>
												<key>fill</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>shadow</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
												<key>stroke</key>
												<dict>
													<key>Draws</key>
													<string>NO</string>
												</dict>
											</dict>
											<key>Text</key>
											<dict>
												<key>Pad</key>
												<integer>0</integer>
												<key>Text</key>
												<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Identidade}</string>
												<key>VerticalPad</key>
												<integer>0</integer>
											</dict>
											<key>Wrap</key>
											<string>NO</string>
										</dict>
									</array>
									<key>ID</key>
									<integer>601</integer>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{106, 134}, {63, 14}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FitText</key>
									<string>YES</string>
									<key>Flow</key>
									<string>Resize</string>
									<key>ID</key>
									<integer>613</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>Pad</key>
										<integer>0</integer>
										<key>Text</key>
										<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 AMBIENTE}</string>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
									<key>Wrap</key>
									<string>NO</string>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{72, 126}, {449, 252}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>614</integer>
									<key>Shape</key>
									<string>Rectangle</string>
								</dict>
							</array>
							<key>ID</key>
							<integer>597</integer>
						</dict>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Bounds</key>
									<string>{{401.99998596484375, 452.5}, {52.000030517578125, 10}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>616</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0</string>
												<key>g</key>
												<string>0</string>
												<key>r</key>
												<string>0</string>
											</dict>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Class</key>
									<string>Group</string>
									<key>Graphics</key>
									<array>
										<dict>
											<key>Bounds</key>
											<string>{{381.0000235, 391.50000000000011}, {94, 36}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>618</integer>
											<key>Shape</key>
											<string>Circle</string>
											<key>Style</key>
											<dict/>
											<key>Text</key>
											<dict>
												<key>VerticalPad</key>
												<integer>0</integer>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{381, 413.00000000000011}, {94.000046999999995, 86.500008999999977}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>619</integer>
											<key>Shape</key>
											<string>CB57FC70-5D98-4E01-B296-C89ACFD207B2-193-00000B1B7DDE215A</string>
											<key>Style</key>
											<dict/>
											<key>Text</key>
											<dict>
												<key>VerticalPad</key>
												<integer>0</integer>
											</dict>
										</dict>
									</array>
									<key>ID</key>
									<integer>617</integer>
								</dict>
							</array>
							<key>ID</key>
							<integer>615</integer>
						</dict>
					</array>
					<key>ID</key>
					<integer>595</integer>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {559, 783}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>BaseZoom</key>
			<integer>0</integer>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1.000 cm = 1.000 cm</string>
			<key>ExportShapes</key>
			<array>
				<dict>
					<key>InspectorGroup</key>
					<real>255</real>
					<key>ShapeImageRect</key>
					<string>{{2, 2}, {22, 22}}</string>
					<key>ShapeName</key>
					<string>CB57FC70-5D98-4E01-B296-C89ACFD207B2-193-00000B1B7DDE215A</string>
					<key>ShouldExport</key>
					<string>YES</string>
					<key>StrokePath</key>
					<dict>
						<key>elements</key>
						<array>
							<dict>
								<key>element</key>
								<string>MOVETO</string>
								<key>point</key>
								<string>{-0.49827149595537845, 0.27456640783943342}</string>
							</dict>
							<dict>
								<key>control1</key>
								<string>{-0.51003063352169509, 0.33344241111714634}</string>
								<key>control2</key>
								<string>{-0.46179107594443103, 0.39400394061581423}</string>
								<key>element</key>
								<string>CURVETO</string>
								<key>point</key>
								<string>{-0.35355282322358761, 0.43905086183285835}</string>
							</dict>
							<dict>
								<key>control1</key>
								<string>{-0.15829092085453933, 0.5203163793890484}</string>
								<key>control2</key>
								<string>{0.15829092085453933, 0.5203163793890484}</string>
								<key>element</key>
								<string>CURVETO</string>
								<key>point</key>
								<string>{0.3535528232235885, 0.43905086183285835}</string>
							</dict>
							<dict>
								<key>control1</key>
								<string>{0.46179109427636522, 0.39400393298637493}</string>
								<key>control2</key>
								<string>{0.51003064986202329, 0.33344239060295955}</string>
								<key>element</key>
								<string>CURVETO</string>
								<key>point</key>
								<string>{0.4982714899805627, 0.27456637792456551}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{0.49999975000012498, 0.27456639339771716}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{0.49999975000012498, -0.49999999999999911}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{-0.49999975000012453, -0.49999999999999911}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>LINETO</string>
								<key>point</key>
								<string>{-0.49999975000012453, 0.27456639339771716}</string>
							</dict>
							<dict>
								<key>element</key>
								<string>CLOSE</string>
							</dict>
							<dict>
								<key>element</key>
								<string>MOVETO</string>
								<key>point</key>
								<string>{-0.49827149595537845, 0.27456640783943342}</string>
							</dict>
						</array>
					</dict>
					<key>TextBounds</key>
					<string>{{0, 0}, {1, 1}}</string>
				</dict>
			</array>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{290, 430}, {80, 14}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FitText</key>
							<string>YES</string>
							<key>Flow</key>
							<string>Resize</string>
							<key>ID</key>
							<integer>621</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<integer>0</integer>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Disco externo}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
							<key>Wrap</key>
							<string>NO</string>
						</dict>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>ID</key>
									<integer>623</integer>
									<key>Points</key>
									<array>
										<string>{275, 320}</string>
										<string>{414, 449}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>HeadArrow</key>
											<string>FilledArrow</string>
											<key>Legacy</key>
											<true/>
											<key>TailArrow</key>
											<string>FilledBall</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{175, 276}, {151, 81}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>624</integer>
									<key>Shape</key>
									<string>Cloud</string>
									<key>Style</key>
									<dict/>
									<key>Text</key>
									<dict>
										<key>Text</key>
										<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 read()}</string>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
								</dict>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>Head</key>
									<dict>
										<key>ID</key>
										<integer>624</integer>
									</dict>
									<key>ID</key>
									<integer>625</integer>
									<key>Points</key>
									<array>
										<string>{354, 211}</string>
										<string>{284.14431676841872, 282.20555150658765}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>HeadArrow</key>
											<string>FilledArrow</string>
											<key>Legacy</key>
											<true/>
											<key>TailArrow</key>
											<string>FilledBall</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{424, 172}, {26, 14}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FitText</key>
									<string>YES</string>
									<key>Flow</key>
									<string>Resize</string>
									<key>ID</key>
									<integer>626</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>Pad</key>
										<integer>0</integer>
										<key>Text</key>
										<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Tipo}</string>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
									<key>Wrap</key>
									<string>NO</string>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{369, 172}, {30, 14}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FitText</key>
									<string>YES</string>
									<key>Flow</key>
									<string>Resize</string>
									<key>ID</key>
									<integer>627</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>Pad</key>
										<integer>0</integer>
										<key>Text</key>
										<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Valor}</string>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
									<key>Wrap</key>
									<string>NO</string>
								</dict>
								<dict>
									<key>Class</key>
									<string>LineGraphic</string>
									<key>Head</key>
									<dict>
										<key>ID</key>
										<integer>631</integer>
									</dict>
									<key>ID</key>
									<integer>628</integer>
									<key>Points</key>
									<array>
										<string>{168, 212}</string>
										<string>{296.50000715615136, 212.68670678506962}</string>
									</array>
									<key>Style</key>
									<dict>
										<key>stroke</key>
										<dict>
											<key>HeadArrow</key>
											<string>FilledArrow</string>
											<key>Legacy</key>
											<true/>
											<key>TailArrow</key>
											<string>FilledBall</string>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Class</key>
									<string>Group</string>
									<key>Graphics</key>
									<array>
										<dict>
											<key>Bounds</key>
											<string>{{413.25, 195}, {116.24999999999994, 36}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>630</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Text</key>
											<dict>
												<key>Text</key>
												<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 _io.TextIOWrapper}</string>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{297, 195}, {116.24999999999994, 36}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>631</integer>
											<key>Shape</key>
											<string>Rectangle</string>
										</dict>
									</array>
									<key>ID</key>
									<integer>629</integer>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{116, 175}, {34, 14}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FitText</key>
									<string>YES</string>
									<key>Flow</key>
									<string>Resize</string>
									<key>ID</key>
									<integer>632</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>Pad</key>
										<integer>0</integer>
										<key>Text</key>
										<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Nome}</string>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
									<key>Wrap</key>
									<string>NO</string>
								</dict>
								<dict>
									<key>Class</key>
									<string>Group</string>
									<key>Graphics</key>
									<array>
										<dict>
											<key>Bounds</key>
											<string>{{123, 195}, {89, 36}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>634</integer>
											<key>Shape</key>
											<string>Rectangle</string>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{34, 195}, {89, 36}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>635</integer>
											<key>Shape</key>
											<string>Rectangle</string>
											<key>Text</key>
											<dict>
												<key>Text</key>
												<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 meu_ficheiro}</string>
											</dict>
										</dict>
									</array>
									<key>ID</key>
									<integer>633</integer>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{216.5, 189}, {61, 14}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FitText</key>
									<string>YES</string>
									<key>Flow</key>
									<string>Resize</string>
									<key>ID</key>
									<integer>636</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>Pad</key>
										<integer>0</integer>
										<key>Text</key>
										<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Identidade}</string>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
									<key>Wrap</key>
									<string>NO</string>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{73, 149}, {63, 14}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>FitText</key>
									<string>YES</string>
									<key>Flow</key>
									<string>Resize</string>
									<key>ID</key>
									<integer>637</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>shadow</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
										<key>stroke</key>
										<dict>
											<key>Draws</key>
											<string>NO</string>
										</dict>
									</dict>
									<key>Text</key>
									<dict>
										<key>Pad</key>
										<integer>0</integer>
										<key>Text</key>
										<string>{\rtf1\ansi\ansicpg1252\cocoartf1138\cocoasubrtf510
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 AMBIENTE}</string>
										<key>VerticalPad</key>
										<integer>0</integer>
									</dict>
									<key>Wrap</key>
									<string>NO</string>
								</dict>
								<dict>
									<key>Bounds</key>
									<string>{{30, 145}, {524, 233}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>638</integer>
									<key>Shape</key>
									<string>Rectangle</string>
								</dict>
							</array>
							<key>ID</key>
							<integer>622</integer>
						</dict>
						<dict>
							<key>Class</key>
							<string>Group</string>
							<key>Graphics</key>
							<array>
								<dict>
									<key>Bounds</key>
									<string>{{401.99998596484375, 452.5}, {52.000030517578125, 10}}</string>
									<key>Class</key>
									<string>ShapedGraphic</string>
									<key>ID</key>
									<integer>640</integer>
									<key>Shape</key>
									<string>Rectangle</string>
									<key>Style</key>
									<dict>
										<key>fill</key>
										<dict>
											<key>Color</key>
											<dict>
												<key>b</key>
												<string>0</string>
												<key>g</key>
												<string>0</string>
												<key>r</key>
												<string>0</string>
											</dict>
										</dict>
									</dict>
								</dict>
								<dict>
									<key>Class</key>
									<string>Group</string>
									<key>Graphics</key>
									<array>
										<dict>
											<key>Bounds</key>
											<string>{{381.0000235, 391.50000000000011}, {94, 36}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>642</integer>
											<key>Shape</key>
											<string>Circle</string>
											<key>Style</key>
											<dict/>
											<key>Text</key>
											<dict>
												<key>VerticalPad</key>
												<integer>0</integer>
											</dict>
										</dict>
										<dict>
											<key>Bounds</key>
											<string>{{381, 413.00000000000011}, {94.000046999999995, 86.500008999999977}}</string>
											<key>Class</key>
											<string>ShapedGraphic</string>
											<key>ID</key>
											<integer>643</integer>
											<key>Shape</key>
											<string>CB57FC70-5D98-4E01-B296-C89ACFD207B2-193-00000B1B7DDE215A</string>
											<key>Style</key>
											<dict/>
											<key>Text</key>
											<dict>
												<key>VerticalPad</key>
												<integer>0</integer>
											</dict>
										</dict>
									</array>
									<key>ID</key>
									<integer>641</integer>
								</dict>
							</array>
							<key>ID</key>
							<integer>639</integer>
						</dict>
					</array>
					<key>ID</key>
					<integer>620</integer>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 3</string>
			<key>UniqueID</key>
			<integer>3</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {559, 783}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>BaseZoom</key>
			<integer>0</integer>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1.000 cm = 1.000 cm</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{106, 111}, {381, 319}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>3</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 2</string>
			<key>UniqueID</key>
			<integer>2</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UseEntirePage</key>
	<false/>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>1</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{393, 113}, {875, 917}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-91, 21}, {740, 762}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>Canvas 2</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>Canvas 3</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
